@import url("https://fonts.cdnfonts.com/css/segoe-ui-4");
@import "tailwindcss";

:root {
  font-family: "Segoe UI";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes pulseBounce {
  0% {
    transform: scale(1);
    animation-timing-function: steps(1, end);
  }
  40% {
    transform: scale(1.25);
    animation-timing-function: steps(1, end);
  }
  45% {
    transform: scale(1.2);
    animation-timing-function: steps(1, end);
  }
  50% {
    transform: scale(1.25);
    animation-timing-function: steps(1, end);
  }
  90% {
    transform: scale(1);
    animation-timing-function: steps(1, end);
  }
  95% {
    transform: scale(1.05);
    animation-timing-function: steps(1, end);
  }
  100% {
    transform: scale(1);
    animation-timing-function: steps(1, end);
  }
}

.animate-pulse-bounce {
  animation: pulseBounce 2.5s infinite 0s;
}

@keyframes pulseBounceSmall {
  0% {
    transform: scale(1.1);
    animation-timing-function: steps(1, end);
  }
  40% {
    transform: scale(1);
    animation-timing-function: steps(1, end);
  }
  45% {
    transform: scale(1.05);
    animation-timing-function: steps(1, end);
  }
  50% {
    transform: scale(1);
    animation-timing-function: steps(1, end);
  }
  90% {
    transform: scale(1.1);
    animation-timing-function: steps(1, end);
  }
  95% {
    transform: scale(1.05);
    animation-timing-function: steps(1, end);
  }
  100% {
    transform: scale(1.1);
    animation-timing-function: steps(1, end);
  }
}

.animate-pulse-bounce-small {
  animation: pulseBounceSmall 2.5s infinite 0s;
  transform: scale(1.1);
}

@keyframes rotate45 {
  0%,
  100% {
    transform: rotate(0deg);
    animation-timing-function: steps(2, end);
  }
  50% {
    transform: rotate(45deg);
    animation-timing-function: steps(2, start);
  }
}

.animate-rotate-45 {
  animation: rotate45 2s ease-in-out infinite alternate;
}

@keyframes rotate15 {
  0% {
    transform: rotate(0);
    animation-timing-function: steps(1, end);
  }
  40% {
    transform: rotate(7.5deg);
    animation-timing-function: steps(1, end);
  }
  45% {
    transform: rotate(5deg);
    animation-timing-function: steps(1, end);
  }
  50% {
    transform: rotate(7.5deg);
    animation-timing-function: steps(1, end);
  }
  90% {
    transform: rotate(0);
    animation-timing-function: steps(1, end);
  }
  95% {
    transform: rotate(2.5deg);
    animation-timing-function: steps(1, end);
  }
  100% {
    transform: rotate(0);
    animation-timing-function: steps(1, end);
  }
}

.animate-rotate-15 {
  animation: rotate15 2.5s infinite 0s;
}

@keyframes rotate345 {
  0% {
    transform: rotate(0);
    animation-timing-function: steps(1, end);
  }
  40% {
    transform: rotate(-7.5deg);
    animation-timing-function: steps(1, end);
  }
  45% {
    transform: rotate(-5deg);
    animation-timing-function: steps(1, end);
  }
  50% {
    transform: rotate(-7.5deg);
    animation-timing-function: steps(1, end);
  }
  90% {
    transform: rotate(0);
    animation-timing-function: steps(1, end);
  }
  95% {
    transform: rotate(-2.5deg);
    animation-timing-function: steps(1, end);
  }
  100% {
    transform: rotate(0);
    animation-timing-function: steps(1, end);
  }
}

.animate-rotate-345 {
  animation: rotate345 2.5s infinite 0s;
}

@keyframes to-top-animation {
  0% {
    transform: translateY(0);
    animation-timing-function: steps(1, end);
  }
  40% {
    transform: translateY(-10px);
    animation-timing-function: steps(1, end);
  }
  45% {
    transform: translateY(-7.5px);
    animation-timing-function: steps(1, end);
  }
  50% {
    transform: translateY(-10px);
    animation-timing-function: steps(1, end);
  }
  90% {
    transform: translateY(0);
    animation-timing-function: steps(1, end);
  }
  95% {
    transform: translateY(-2.5px);
    animation-timing-function: steps(1, end);
  }
  100% {
    transform: translateY(0);
    animation-timing-function: steps(1, end);
  }
}

.to-top-animation {
  animation: to-top-animation 2.5s infinite;
}

@keyframes to-top-animation-full {
  0% {
    transform: translateY(0);
    animation-timing-function: steps(1, end);
  }
  40% {
    transform: translateY(-20px);
    animation-timing-function: steps(1, end);
  }
  45% {
    transform: translateY(-17.5px);
    animation-timing-function: steps(1, end);
  }
  50% {
    transform: translateY(-20px);
    animation-timing-function: steps(1, end);
  }
  90% {
    transform: translateY(0);
    animation-timing-function: steps(1, end);
  }
  95% {
    transform: translateY(-2.5px);
    animation-timing-function: steps(1, end);
  }
  100% {
    transform: translateY(0);
    animation-timing-function: steps(1, end);
  }
}

.to-top-animation-full {
  animation: to-top-animation-full 2.5s infinite;
}

@keyframes to-bottom-animation {
  0% {
    transform: translateY(0);
    animation-timing-function: steps(1, end);
  }
  40% {
    transform: translateY(20px);
    animation-timing-function: steps(1, end);
  }
  45% {
    transform: translateY(17.5px);
    animation-timing-function: steps(1, end);
  }
  50% {
    transform: translateY(20px);
    animation-timing-function: steps(1, end);
  }
  90% {
    transform: translateY(0);
    animation-timing-function: steps(1, end);
  }
  95% {
    transform: translateY(2.5px);
    animation-timing-function: steps(1, end);
  }
  100% {
    transform: translateY(0);
    animation-timing-function: steps(1, end);
  }
}

.to-bottom-animation {
  animation: to-bottom-animation 2.5s infinite;
}

@keyframes to-right-animation {
  0% {
    transform: translateX(0);
    animation-timing-function: steps(1, end);
  }
  40% {
    transform: translateX(30px);
    animation-timing-function: steps(1, end);
  }
  45% {
    transform: translateX(27.5px);
    animation-timing-function: steps(1, end);
  }
  50% {
    transform: translateX(30px);
    animation-timing-function: steps(1, end);
  }
  90% {
    transform: translateX(0);
    animation-timing-function: steps(1, end);
  }
  95% {
    transform: translateX(2.5px);
    animation-timing-function: steps(1, end);
  }
  100% {
    transform: translateX(0);
    animation-timing-function: steps(1, end);
  }
}

.to-right-animation {
  animation: to-right-animation 2.5s infinite 0s;
}

@keyframes to-bottom-animation {
  0% {
    transform: translateY(0);
    animation-timing-function: steps(1, end);
  }
  40% {
    transform: translateY(20px);
    animation-timing-function: steps(1, end);
  }
  45% {
    transform: translateY(17.5px);
    animation-timing-function: steps(1, end);
  }
  50% {
    transform: translateY(20px);
    animation-timing-function: steps(1, end);
  }
  90% {
    transform: translateY(0);
    animation-timing-function: steps(1, end);
  }
  95% {
    transform: translateY(2.5px);
    animation-timing-function: steps(1, end);
  }
  100% {
    transform: translateY(0);
    animation-timing-function: steps(1, end);
  }
}

.to-bottom-animation {
  animation: to-bottom-animation 2.5s infinite 0s;
}

.group:hover .absolute.-left-1 {
  animation: bounceIn 0.3s forwards;
}
.group:not(:hover) .absolute.-left-1 {
  animation: bounceOut 0.3s forwards;
}
@keyframes bounceIn {
  0% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(-10%);
  }
  70% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(-10%);
  }
}

@keyframes bounceOut {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(10%);
  }
  70% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(10%);
  }
}

.group:hover .absolute.left-0 {
  animation: bounceI 0.3s forwards;
}
.group:not(:hover) .absolute.left-0 {
  animation: bounceO 0.3s forwards;
}

@keyframes bounceI {
  0% {
    transform: translateY(15%);
  }
  50% {
    transform: translateY(-25%);
  }
  70% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(-5%);
  }
}

@keyframes bounceO {
  0% {
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(15%);
  }
  70% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(15%);
  }
}
